body {
    margin: 0px;
    font-family: sans-serif;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}

.info {
    margin: 10px;
}

.topbar {
    background-image: linear-gradient(blue,darkblue);
    padding: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.topbar a {
    color: white;
    padding-left: 10px;
    text-decoration: none;
 }

.games-page {
    padding-top: 60px;
    padding: 10px;
}

.games-page h1 {
    padding-bottom: 15px;
}

.game {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
